attrs==20.3.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
cryptography==46.0.2
idna==3.10
jellyfish==1.2.0
lib50==3.1.4
packaging==25.0
pexpect==4.9.0
ptyprocess==0.7.0
pycparser==2.23
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
setuptools==80.9.0
submit50==3.2.1
termcolor==1.1.0
urllib3==2.5.0
